name: Lint with Pint

on:
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  pint:
    name: Run Pint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}

      - name: Run Pint
        uses: aglipanci/laravel-pint-action@latest
        with:
          verboseMode: true

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "style: apply Pint"